body {
    padding: 0;
    margin:0;
    background: white;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}

html {
    padding:0;
    margin:0;
}

.container {
    top: 0;
    padding:0;
    display: flex;
}

.container .left {
    top: 0;
    width: 30%;
    height: 100vh;
    float: left;
    background: white;
    border-right: 0.2px solid #ced0d1;
}

.container .right {
    top: 0;
    width: 70%;
    height: 100vh;
    float: right;
    background: #f8f8f8;
}

.container .left .top {
    width: 100%;
    display: flex;
    height: 9vh;
    background: #f0f2f5;
    align-items: center;
}

.container .left .top .leftTop {
    width: 10%;
    padding-left: 3px;
}

.container .left .top .rightTop {
    width: 100%;
    justify-content: right;
    padding-right: 10%;
    display: flex;
}

.container .left .top img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.container .left .top img:hover{
    cursor: pointer;
}

.container .left .top i {
    margin-left: 10%;
    color: #54656f;
    font-size: 19px;
}

.container .left .top i:hover {
    cursor: pointer;
}

.container .left .search {
    width: 100%;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ced0d1;
}

.container .left .search .inputSearch {
    display: flex;
    width: 90%;
    height: 3.5vh;
    align-items: center;
    background: #f0f2f5;
    padding: 7px;
    border-radius: 8px;
    padding-left: 12px;
    color: #86939c;
}

.container .left .search .inputSearch input {
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    color: #86939c;
    padding-left: 20px; 
}

.container .left .discussion {
    display: block;
    width: 100%;
    height: 82%;
    padding: 2px 5px 0 0;
    overflow-x: auto;
    scrollbar-width: none;
}

.container .left .discussion::-webkit-scrollbar {
    display: none;
}

.container .left .discussion a {
    display: flex;
    height: 10vh;
    align-items: center;
    padding-left: 20px;
    border-top: 1px solid #ced0d1;
}

.container .left .discussion a:hover {
    background: #f0f2f5;
    cursor: pointer;
}

.container .left .discussion a img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.container .left .discussion a ul {
    list-style: none;
}

.container .left .discussion a ul li {
    color: #111b21;
    font-size: 14.5px;
}

/*Menu*/

.container .left .menu,.container .right .menu {
    position: absolute;
    background: white;
    display: grid;
    padding: 20px 1px;
    color: #747f86;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.container .left .menu a,.container .right .menu a {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    color: #747f86;
}

.container .left .menu a:hover,.container .right .menu a:hover {
    background: whitesmoke;
    cursor: pointer;
}

/*add Friends*/

.container .left .topAddFriends {
    width: 100%;
    display: flex;
    height: 15vh;
    background: #008069;
    align-items: center;
    color: whitesmoke;
}

.container .left .topAddFriends i:hover {
    cursor: pointer;
}

.container .left .searchAddFriends {
    width: 100%;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ced0d1;
}

.container .left .searchAddFriends .inputSearch {
    display: flex;
    width: 90%;
    height: 3vh;
    align-items: center;
    background: #f0f2f5;
    padding: 7px;
    border-radius: 8px;
    padding-left: 12px;
    color: #86939c;
}

.container .left .searchAddFriends .inputSearch input {
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    color: #86939c;
    padding-left: 20px; 
}

.container .left .discussionAddFriends {
    display: block;
    width: 100%;
    height: 75%;
    padding: 2px 5px 0 0;
    overflow-x: auto;
    scrollbar-width: none;
}

.container .left .discussionAddFriends::-webkit-scrollbar {
    display: none;
}

.container .left .discussionAddFriends a {
    display: flex;
    height: 10vh;
    align-items: center;
    padding-left: 20px;
    border-top: 1px solid #ced0d1;
    height: 9vh;
}

.container .left .discussionAddFriends a:hover {
    background: whitesmoke;
    cursor: pointer;
}

.container .left .discussionAddFriends a img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.container .left .discussionAddFriends a ul {
    list-style: none;
}

.container .left .discussionAddFriends a ul li {
    color: #111b21;
    font-size: 14.5px;
}

/*messages importants*/

.container .left .topImportantMessage {
    width: 100%;
    display: flex;
    height: 15vh;
    background: #008069;
    align-items: center;
    color: whitesmoke;
}

.container .left .topImportantMessage i:hover {
    cursor: pointer;
}

.container .left .discussionImportantMessage {
    display: block;
    width: 100%;
    height: 84%;
    padding: 2px 5px 0 0;
    overflow-x: auto;
    scrollbar-width: none;
}

.container .left .discussionImportantMessage::-webkit-scrollbar {
    display: none;
}

.container .left .discussionImportantMessage .part1 {
    display: block;
    width: 100%;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.container .left .discussionImportantMessage .part1:hover {
    background: whitesmoke;
    cursor: pointer;
}

.container .left .discussionImportantMessage .part1 div {
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    text-align: left;
}

.container .left .discussionImportantMessage .part1 div  img {
    width: 40px;
    height: 40px;
    border-radius: 60px;
    margin-left: 5%;
    justify-content: left;
}

.container .left .discussionImportantMessage .part1 div  p {
    font-size: 14px;
    color: #111b21;
    margin-left: 2%;
}

.sendIM {
    background: #d9fdd3;
    width: 90%;
    max-width: 100%;
    color: #111b21;
    font-size: 14.2px;
    padding: 0.5%;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    margin-left: 5%;
}

.receiveIM {
    background: #ffffff;
    width: 90%;
    max-width: 100%;
    color: #111b21;
    font-size: 14.2px;
    padding: 0.5%;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    margin-left: 5%;
}

.sendIM:hover,.receiveIM:hover {
    cursor: pointer;
}

.sendIM span,.receiveIM span {
    float: right;
    font-size: 11px;
}

/*parametres*/

.container .left .topParametres {
    width: 100%;
    display: flex;
    height: 15vh;
    background: #008069;
    align-items: center;
    color: whitesmoke;
}

.container .left .topParametres i:hover {
    cursor: pointer;
}

.container .left .discussionParametres {
    display: grid;
    height: 69.5%;
    padding: 2px 5px 0 0;
    overflow-x: auto;
    scrollbar-width: none;
}

.container .left .discussionParametres::-webkit-scrollbar {
    display: none;
}

.container .left .discussionParametres a {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #ced0d1;
}

.container .left .discussionParametres a:hover {
    background: whitesmoke;
    cursor: pointer;
}

.container .left .discussionParametres a  ul {
    list-style: none;
    margin-left: 1%;
}

.container .left .discussionParametres i {
    color: #8696a0;
    font-size: 20px;
}

.container .left .searchParametres {
    width: 100%;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: left;
}

.container .left .searchParametres:hover {
    cursor: pointer;
    background: whitesmoke;
}

.container .left .searchParametres img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-left: 4%;
}

.container .left .searchParametres ul {
    list-style: none;
    margin-left: -2%;
}

.container .left .searchParametres ul li {
    color: #111b21;
}

/*right*/

.container .right .top {
    width: 100%;
    display: flex;
    height: 9vh;
    background: #f0f2f5;
    align-items: center;
}

.container .right .top .leftTop {
    display: flex;
    width: 10%;
    padding-left: 2%;
    align-items: center;
}

.container .right .top .leftTop ul {
    list-style: none;
    margin-left: -10%;
}

.container .right .top .leftTop ul li {
    color: #54656f;
}

.container .right .top .rightTop {
    width: 100%;
    justify-content: right;
    padding-right: 5%;
    display: flex;
}

.container .right .top .leftTop img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.container .right .top .leftTop img:hover {
    cursor: pointer;
}

.container .right .top i {
    margin-left: 5%;
    color: #54656f;
}

.container .right .top i:hover {
    cursor: pointer;
}

.container .right .bottom {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 9vh;
    display: flex;
    background: #f0f2f5;
    align-items: center; 
}

.container .right .bottom input {
    display: flex;
    width: 55%;
    height: 6vh;
    font-size: 15px;
    align-items: center;
    background: white;
    border-radius: 8px;
    padding-left: 12px;
    color: #54656f;
    outline: none;
    border:0;
}

.container .right .bottom i {
    color: #54656f;
    font-size: 28px;
    margin: 0 2% 0 2%;
}

.container .right .bottom i:hover {
    cursor: pointer;
}

.container .right .messages {
    width: 100%;
    height: 75%;
    overflow-x: auto;
    scrollbar-width: none;
    padding-bottom: 6%;
    padding-top: 3%;
}

.container .right .messages::-webkit-scrollbar {
    display: none;
}

.send {
    background: #d9fdd3;
    width: 50%;
    max-width: 50%;
    color: #111b21;
    font-size: 14.2px;
    padding: 0.5%;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10%;
    text-align: left;
    float: right;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
}

.receive {
    background: #ffffff;
    width: 50%;
    max-width: 50%;
    color: #111b21;
    font-size: 14.2px;
    padding: 0.5%;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10%;
    text-align: left;
    float: left;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
}

.send:hover,.receive:hover {
    cursor: pointer;
}

.send span,.receive span {
    float: right;
    font-size: 11px;
}

/* infos contact */

.container .infosContact {
    position: absolute;
    position: fixed;
    top: 0;
    width: 30%;
    height: 100vh;
    background: #eff1f4;
    border-right: 0.2px solid #ced0d1;
    margin-left: 70%;
    border-left: 1px solid #ced0d1;

}

.container .infosContact .topinfosContact {
    width: 100%;
    display: flex;
    height: 9vh;
    background: #f0f2f5;
    align-items: center;
    color: #111b21;
}

.container .infosContact .topinfosContact i:hover {
    cursor: pointer;
}

.container .infosContact .contentIC {
    width: 100%;
    height: 85%;
    overflow-x: auto;
    scrollbar-width: none;
}

.container .infosContact .part1 {
    display: grid;
    background: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.container .infosContact .part1 img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 10%;
}

.container .infosContact .part1 ul {
    list-style: none;
}

.container .infosContact .part1 ul li {
    color: #111b21;
    margin-top: 1%;
}

.container .infosContact .part2 {
    background: white;
    width: 100%;
    height: 11vh;
    align-items: center;
    margin-top: 4%;
}

.container .infosContact .part2 ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .infosContact .part2 ul li {
    color: #111b21;
    margin-top: 1%;
    font-size: 13px;
}

.container .infosContact .part3 {
    background: white;
    width: 100%;
    height: 11vh;
    align-items: center;
    margin-top: 4%;
}

.container .infosContact .part3 ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .infosContact .part3 ul li {
    color: #111b21;
    margin-top: 1%;
    font-size: 13px;
}

.container .infosContact .part4 {
    background: white;
    width: 100%;
    height: 7vh;
    align-items: center;
    margin-top: 4%;
}

.container .infosContact .part4 ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .infosContact .part4 ul li {
    color: #111b21;
    margin-top: 1%;
    font-size: 13px;
}

.container .infosContact .part5 {
    background: white;
    width: 100%;
    height: 12vh;
    align-items: center;
    margin-top: -6%;
}

.container .infosContact .part5 ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .infosContact .part5 ul li {
    color: #111b21;
    margin-top: 1%;
    font-size: 13px;
}

.container .infosContact .part6 {
    background: white;
    width: 100%;
    height: 7vh;
    align-items: center;
    margin-top: -6%;
}

.container .infosContact .part6:hover {
    cursor: pointer;
}

.container .infosContact .part6 ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .infosContact .part6 ul li {
    color: #f15c6d;
    margin-top: 1%;
    font-size: 13px;
}

.container .infosContact .part7 {
    background: white;
    width: 100%;
    height: 7vh;
    align-items: center;
    margin-top: 4%;
}

.container .infosContact .part7:hover {
    cursor: pointer;
}

.container .infosContact .part7 ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .infosContact .part7 ul li {
    color: #f15c6d;
    margin-top: 1%;
    font-size: 13px;
}

/* search important message */

.container .searchMessageIC {
    position: absolute;
    position: fixed;
    top: 0;
    width: 30%;
    height: 100vh;
    background: white;
    border-right: 0.2px solid #ced0d1;
    margin-left: 70%;
    border-left: 1px solid #ced0d1;

}

.container .searchMessageIC .topSearchMessageIC {
    width: 100%;
    display: flex;
    height: 9vh;
    background: #f0f2f5;
    align-items: center;
    color: #111b21;
}

.container .searchMessageIC .topSearchMessageIC i:hover {
    cursor: pointer;
}

.container .searchMessageIC .searchIC {
    width: 100%;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ced0d1;
}

.container .searchMessageIC .searchIC .inputSearchIC {
    display: flex;
    width: 90%;
    height: 3.5vh;
    align-items: center;
    background: #f0f2f5;
    padding: 7px;
    border-radius: 8px;
    padding-left: 12px;
    color: #54656f;
}

.container .searchMessageIC .searchIC .inputSearchIC input {
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    color: #54656f;
    padding-left: 20px; 
}

.container .searchMessageIC .discussionSearchIC {
    display: block;
    height: 83%;
    padding: 2px 5px 0 0;
    overflow-x: auto;
    scrollbar-width: none;
}

.container .searchMessageIC .discussionSearchIC::-webkit-scrollbar {
    display: none;
}

.container .searchMessageIC .discussionSearchIC a {
    display: flex;
    height: 10vh;
    align-items: center;
    padding-left: 20px;
    border-top: 1px solid #ced0d1;
}

.container .searchMessageIC .discussionSearchIC a:hover {
    background: whitesmoke;
    cursor: pointer;
}

.container .searchMessageIC .discussionSearchIC a  ul {
    list-style: none;
    margin-left: 1%;
}

.container .searchMessageIC .discussionSearchIC i {
    color: #747f86;
    font-size: 20px;
}

.container .searchMessageIC .discussionSearchIC a ul li {
    color: #747f86;
}

/*emoji*/

.emojis{
    position: absolute;
    background: #f0f2f5;
    margin-top: -15%;
    width: 69.8%;
    height: 20vh;
    overflow-x: auto;
    scrollbar-width: none;
    padding-bottom: 2%;
    padding-top: 1%;
    transition: .5s ease-out;
}

.emojis::-webkit-scrollbar {
    display: none;
}

.emojis button:hover{
    cursor: pointer;
}

.emojis button {
    background: transparent;
    outline: none;
    border: 0;
    width: 30px;
    font-size: 30px;
}

/* no read*/

.noRead {
    color: white;
    background: #00a884;
    padding: 2px 6px;
    border-radius: 10px;
}

/*edit name and actu*/

.discussion1Profil input,.discussion2Profil input {
    outline: none;
    border: 0;
    background: transparent;
    width: 100%;
    color: #111b21;
    font-size: 15px;
    margin-top: 5%;
}

.discussion1Profil,.discussion2Profil {
    width: 100%;
    text-align: left;
    align-items: center;
    padding-left: 5%;
    margin-top: 10%;
}

.searchProfil {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.discussion1Profil label {
    font-size: 13px;
    color: #00a884;
}

.searchProfil img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 5%;
}

.searchProfil input {
    outline: none;
    background: transparent;
    color: transparent;
}